<section class="banner-section banner-style-two">
  <div>
    <div class="container-fluid custom-container-two">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="banner-img">
            <img src="assets/img/logo1.png" alt="Icon">
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="banner-text">
            <p>Consultoria & Suporte Terapêutico</p>
            <h2>Cuidados e acompanhamento centrados no paciente </h2>
            <button (click)="cadastro()" class="button-top">
              Solicite atendimento
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <img class="image-can" src="assets/img/can3.jpg">
</section>

<section>
  <div class="quem-somos">
    <h3>Quem somos e o que fazemos?</h3>

    <h4 class="h4-titulo">EQUIPE MULTIDICIPLINAR ESPECIALIZADA EM ASSISTÊNCIA E
      ACOMPANHAMENTO DE TERAPIAS COMPLEMENTARES: </h4>
    

    <ul>
      <li>&#9679; Atendimento Médico</li>
      <li>&#9679; Atendimento Psicológico para o paciente e para a família</li>
      <li>&#9679; Atendimento Nutricional Especializado</li>
      <li>&#9679; Assistência Jurídica</li>
      <li>&#9679; Práticas Integrativas e complementares</li>
      <li>&#9679; Atendimento e suporte para casos Veterinários</li>
      <li>&#9679; Suporte terapêutico</li>
    </ul>

  </div>
</section>




<section>
  <div class="fases-atendimento">
    <!-- Section Title -->
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-5 col-md-8 col-sm-7">
        <div class="section-title left-border">
          <h2>fases do atendimento</h2>
        </div>
      </div>
    </div>

    <div class="services-loop mt-50">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-service-two white-bg">
            <h4 class="fase">Fase I - anamnese </h4>
            <div class="bottom-icon">
              <img src="assets/img/svg/fase1.svg" alt="icon" style="max-width: 38%; margin-top: 25px;">
            </div>
            <p>Preenchimento da documentação solicitada pela equipe de suporte e devido envio da mesma.
              Esclarecimentos de dúvidas a respeito do tratamento.
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-service-two white-bg">
            <h4 class="fase2">Fase II - atendimento </h4>
            <div class="bottom-icon">
              <img src="assets/img/svg/fase2.svg" alt="icon" style="max-width: 66%;">
            </div>
            <p>
              Atendimento on-line para esclarecimentos, primeira leitura do
              quadro clínico, acolhimentos iniciais e marcação de consulta
              médica. Entrega de receituários já existentes e demais laudos
              e documentos solicitados pelo consultor.
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-service-two white-bg">
            <h4 class="fase2">Fase III- burocráticos </h4>
            <div class="bottom-icon3">
              <img src="assets/img/svg/fase3.png" alt="icon" style="max-width: 54%;">
            </div>
            <p class="p2">Encaminhamento do paciente para associação competente de escolha
              do mesmo ou outros meios de aquisição da medicação além dos demais
              encaminhamentos de documentos da ANVISA – Agência Nacional de vigilância
              Sanitária - e demais trâmites jurídicos se forem necessários. 
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-service-two white-bg">
            <h4>Fase IV - pós aquisição da medicação</h4>
            <div class="bottom-icon4">
              <img src="assets/img/svg/fase4.png" alt="icon" style="width: 50%;">
            </div>
            <p class="p2">
              Ajuste de posologia, acompanhamento terapêutico e, quando indicado,
              encaminhamentos para avaliação por outros profissionais.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <img class="image-can" src="assets/img/can3.jpg">
</section>

<section class="about-section about-style-three pt-120 pb-120">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="about-text pl-30">
          <div class="section-title right-border mb-40">
            <h2>Atendimento</h2>
          </div>
          <p>
            Oferecemos um atendimento educado, individual e transparente,
            facilitando o acesso às mais diversas informações sobre o
            tratamento, seja de forma geral ou relacionadas as patologias,
            comorbidades e/ou condições específicas da pessoa em sofrimento. Também fornecemos suporte e acompanhamento
            para casos jurídicos relacionados ao tratamento com cannabis.
          </p>
        </div>
      </div>
      <div>
        <div>
          <img src="assets/img/weed.png" class="image-one">
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="justificativa">
    <h3>Quais patologias podem ser tratadas com a cannabis?</h3>
    <div class="medicinal"><img src="assets/img/medicinal.jpg"></div>
    <p>Muitos transtornos de saúde atualmente tratados com cannabis ainda
      não têm comprovação de eficácia através de publicações e artigos
      científicos, entretanto já existem muitos relatos de pacientes que
      conseguiram sucesso no tratamento de enfermidades que ainda não estão
      listadas e nota-se um número crescente de publicações ressaltando seus
      benefícios. <br><br>Os tratamentos com cannabis têm respostas muito individuais,
      sendo necessária uma anamnese detalhada de cada caso para poder se chegar a uma
      conclusão específica de qual concentração e dose funcionarão melhor para uma determinada pessoa.  
      No momento há indicações na literatura médica  para os seguintes transtornos de saúde:
    </p>
  </div>

  <div class="patologias">
    <ul>
      <li>Acne</li>
      <li>Anorexia</li>
      <li>Ansiedade</li>
      <li>Alzheimer</li>
      <li>Artrite</li>
      <li>Artrose</li>
      <li>Asma</li>
      <li>Autismo / Asperger</li>
      <li>Câncer</li>
      <li>Colite Ulcerosa</li>
      <li>Dependência Química</li>
      <li>Depressão</li>
      <li>Dermatite</li>
      <li>Diabetes Mellitus</li>
      <li>Distonia de Segawa</li>
      <li>Doença de Crohn</li>
      <li>Dor Neuropática</li>
      <li>Dores Crônicas</li>
      <li>Endometriose</li>
      <li>Enxaqueca</li>
      <li>Epilepsia </li>
      <li>Esclerose Múltipla</li>
      <li>Doença do Neurônio Motor <br>
        <p class="doença">(Esclerose Lateral Amiotrófica- ELA)&nbsp;</p>
      </li>
      <li>Fibromialgia</li>
      <li>Gastrite</li>
      <li>Glaucoma</li>

      <li>HIV</li>
      <li>Insônia</li>
      <li>Lesões Musculares</li>
      <li>Nevralgia do Trigêmeo </li>
      <li>Obesidade</li>
      <li>Osteoporose</li>
      <li>Paralisia Cerebral</li>
      <li>Parkinson</li>
      <li>Psoriase</li>
      <li>Transtorno de Estresse <br>Pós-Traumático (TEPT)</li>
      <li>Transtorno <br>Obsessivo-Compulsivo (TOC)</li>
      <li>Uso Veterinário (*)</li>
      <br>
      <br>
    </ul>


  </div>
  <div class="footer">
    <p>(*) Devemos salientar que o uso de cannabis tem ganhado crescente
      indicação na medicina veterinária. Tal qual em humanos, os primeiros
      pacientes beneficiados foram aqueles acometidos por distintas formas
      de epilepsia. 

    </p>

    <button (click)="cadastro()" class="button-footer">
      Solicite atendimento
    </button>

  </div>

</section>