.banner-section.banner-style-two .single-banner {
    height: 360px;
    text-transform: uppercase;
}

h2 {
    font-size: 32px;
    color: #563156;
    text-transform: uppercase;
}

.quem-somos h3 {
    margin-top: 25px;
    font-size: 32px;
    color: #563156;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}

.fases-atendimento {
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    margin-top: 7em;
}

.mt-50 {
    margin-top: 50px;
    text-align: center;
}

@media (min-width: 640px), (max-width: 1281px) {
    .h4-titulo {
        width: 24em !important;
    }
    h4 {
        color: #1e7945 !important;
        text-transform: uppercase;
        font-size: 20px;
        padding-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 11em;
    }
    .p2 {
        padding-top: 24px;
    }
    .doença {
        font-size: 12px;
    }
    li {
        font-size: 16px;
    }
    .footer {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        margin-bottom: 30px;
        width: 56em;
        text-align: center;
    }
    .button-footer {
        font-size: 21px;
        margin-top: 25px;
        margin-bottom: 25px;
        color: white;
        background: #89D429;
        border-color: #89D429;
        width: 25%;
        border-radius: 20px;
    }
    .button-top {
        font-size: 21px;
        margin-top: 25px;
        margin-bottom: 25px;
        color: white;
        background: #89D429;
        border-color: #89D429;
        width: 50%;
        border-radius: 20px;
    }
}

@media screen and (max-width:480px) {
    #container {
        width: 400px;
    }
    h4 {
        color: #1e7945 !important;
        text-transform: uppercase;
        font-size: 21px;
        padding-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 105%;
        padding-right: 20px;
        padding-left: 15px;
    }
}

.banner-section .single-banner .banner-text p::before {
    background-color: #ffcb0f;
}

.quem-somos {
    padding-top: 30px;
}

.quem-somos ul {
    font-family: "Roboto", sans-serif;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}

.quem-somos li {
    font-size: 18px;
    margin-bottom: 10px;
}

@media screen and (max-width:480px) {
    #container {
        width: 400px;
    }
    .quem-somos ul {
        margin-left: 10px;
        margin-right: 10px;
        width: 95%;
    }
    h4 {
        width: 90%;
    }
}

.image-can {
    padding-top: 35px;
    width: 100%;
}

@media screen and (max-width:480px) {
    .image-can {
        padding-top: 35px;
        width: 100%;
        height: 135px;
    }
}

p {
    font-size: 18px;
    text-align: start;
}

.bottom-icon {
    padding-bottom: 55px;
    text-align: center;
}

.bottom-icon3 {
    padding-bottom: 35px;
    padding-top: 20px;
}

.bottom-icon4 {
    padding-bottom: 33px;
}

@media screen and (max-width:480px) {
    p {
        margin-bottom: 40px;
        text-align: justify;
        width: 90%;
        margin-left: 23px;
    }
    .footer {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        width: 56em;
        text-align: center;
    }
    .button-footer {
        font-size: 21px;
        margin-top: 25px;
        margin-bottom: 25px;
        color: white;
        background: #89D429;
        border-color: #89D429;
        width: 60%;
        border-radius: 20px;
    }
    .button-top {
        font-size: 21px;
        margin-top: 25px;
        margin-bottom: 25px;
        color: white;
        background: #89D429;
        border-color: #89D429;
        width: 70%;
        border-radius: 20px;
    }
    li {
        font-size: 16px;
        text-align: initial
    }
    .doença {
        font-size: 16px;
        margin-left: 0px;
    }
}

.justificativa p {
    font-size: 18px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    padding-bottom: 30px;
}

.justificativa h3 {
    text-align: center;
    font-size: 28px;
    color: #222f5a;
    margin-bottom: 20px;
}

.medicinal {
    margin-left: auto;
    margin-right: auto;
    width: 24em;
    max-width: 100%;
    margin-bottom: 30px;
}

@media screen and (max-width:480px) {
    .justificativa p {
        width: 18em;
    }
}

@media (min-width: 640px), (max-width: 1281px) {
    .patologias {
        margin-left: auto;
        margin-right: auto;
        width: 60em;
    }
    .patologias ul {
        text-align: justify;
        column-count: 4;
        list-style: disc;
        font-size: 18px;
        margin-left: 7%;
        margin-bottom: 2%;
    }
}

@media screen and (max-width:480px) {
    .patologias ul {
        column-count: 2;
        list-style: disc;
        width: 35%;
        font-size: 18px;
        margin-left: 7%;
    }
}

@media screen and (max-width:480px) {
    .section-title {
        text-align: center;
    }
}