
.section-title h2 {
    
    font-size: 35px;
}
h5 {
    font-size: 30px;
}
.about-section .about-tile-gallery-two {
    min-height: 0px;
}
.about-tile-gallery-two {
    min-height: 0px;
    text-align: center;
}
i, span, a {
    display: block;
}

@media screen and (min-width: 1000px){ 
    
    .embed-container { 
        text-align: center; 
    } 
    .embed-container iframe, .embed-container object, .embed-container embed {
        text-align: center;
    }
    
    .text-center-1{
        margin-left: 20%;
        margin-right: 20%;
    
    }
    img {
        max-width: 50%;
        }
    
    p {
        font-size: 16px;
        width: 90%;
    }
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1170px;
        margin-bottom: 70px;
    }
    .container1{
        margin-top: 70px;
    }
    
}
@media screen and (max-width:720px){
    .embed-container { 
        position: relative; 
        padding-bottom: 56.25%; 
        height: 0; 
        overflow: hidden; 
        max-width: 100%; 
    } 
    .embed-container iframe, .embed-container object, .embed-container embed {
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
    }
    .video-js {
        width: 100%;
    }
    img {
        max-width: 100%;
        }
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1170px;
        margin-bottom: 70px;
    }
    .container1{
            margin-top: 70px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    
    }
.divisoria{
    border-style: solid;
    border-color: #89d32a;
    margin-top: 55px;
}

p{
    text-align: justify;
}