<section class="about-section about-style-three pt-120">
    <div class="container">
        <div class="section-title both-border text-center pb-80">
            <span class="title-tag">Depoimentos</span>
            <h2>Relatos de pacientes</h2>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col">

                    </div>
                </div>
                <div class="row">
                    <div class="col text-center-1">
                     <div class='embed-container'>
                            <iframe width="640" height="355" src="https://www.youtube.com/embed/b7JKu82Yqi0"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="about-tile-gallery-two">
                    <h5>Augusto Saraiva</h5>
                    <span> Portador de patologia rara desde xxxx </span>
                    <img src="assets/img/testimonials/augustosaraiva.png" alt="Image" class="image-one">
                </div>
            </div>

            <div class="col-lg-6 col-md-10">
                <p>Nos anos 90, como muitos da minha geração, aprendi na escola que a maconha era uma coisa terrível. Não é a toa que nutria um grande preconceito. 
                    Desde 2007 um dos meus médicos dizia que na Califórnia meu tipo de doença era tratada com maconha, e meu preconceito me impedia de sequer cogitar a possibilidade. Precisei quase morrer, fiquei vegetativo, tomava duas ampolas de morfina e 25 outros remédios, antes de vencer meu preconceito. 
                    Hoje, além da maconha tomo apenas mais um remédio. Recuperei a mobilidade e a independência, recuperei a minha vida. E devo isso à Cannabis.
                </p>
            </div>
        </div>

        <div class="divisoria"></div>

        <div class="container1">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="about-tile-gallery-two">
                        <h5>Gabriela Capitani</h5>
                        <span>Mãe de Maria Clara - Portadora de Sindrome de Mowat Wilson</span>
                        <img src="assets/img/testimonials/gabrielacapitani.png" alt="Image" class="image-one">
                    </div>
                </div>

                <div class="col-lg-6 col-md-10">
                    <p>Em setembro de 2015, com quase 9 meses a Maria Clara iniciou com febre e falta de ar, e 
                        nós levamos para o hospital. Diagnóstico? BRONQUIOLITE. Foi internada na hora. Depois 
                        de 3 dias de internação, antibióticos, oxigênio e nada de melhoras, a pediatra percebeu 
                        que ela teria um possível problema neurológico e nos transferiu para a cidade de 
                        Porto Alegre/RS. Chegando lá, uma dose de medicação quase a fez perder a vida e 
                        foi preciso correr para a UTI. Ela passou por entubação e vários aparelhos, e eu sem 
                        saber o que estava acontecendo. Foram 58 dias de internação e muita aflição. 
                        Depois desse período de cirurgia e internação tivemos alta, mas sem um diagnóstico 
                        concluído. Somente a suspeita de uma possível síndrome de “RUBISTEIN TAYBI". 
                        Iniciamos a procura por terapias e especialistas. Aos 2 anos uma otite muito 
                        forte e uma febre de 39,5°C desencadearam uma convulsão, e lá se foram mais 20 
                        dias de UTI e internação, possivelmente uma ENCEFALITE.
                    </p>
                    <br>
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="about-tile-gallery-two">
                        <img src="assets/img/testimonials/gabrielacapitani2.png" alt="Image" class="image-one">
                    </div>
                </div>

                <div class="col-lg-6 col-md-10">
                    <p>Durante essa internação foi descartada a síndrome de “RUBISTEIN TAYBI" e dado o 
                        diagnóstico de Síndrome “MOWAT WILSON".Tivemos alta e as crises convulsivas 
                        continuavam. Iniciamos então o uso de GARDENAL, mas as crises continuavam.
                         Aos poucos fomos mudando para o ACIDO VALPRÓICO, e mesmo assim as crises não 
                         cessavam. Depois de muitas idas e vindas em emergências de hospitais, em Maio
                          de 2020 o Doutor nos falou sobre o “ÓLEO DE CANNABIS". Concordei em tentar
                           essa alternativa, que sem dúvidas foi a melhor escolha que fizemos para vida
                            dela - e para a nossa também. Um mês após iniciarmos o uso do ÓLEO DE 
                            CANNABIS conseguimos retirar a medicação. Atualmente, com 5 anos e 9 
                            meses, a Maria Clara faz uso apenas do óleo. A cannabis tem mudado as 
                            nossas vidas. Maria Clara está muito mais ativa, interagindo com os 
                            objetos e com as pessoas, se alimentando melhor, consegue sentar sozinha,
                             dá alguns passos com o auxílio do seu andador e já está até arriscando 
                             ficar em pé sem auxílio. Espero que esse relato chegue em muitas pessoas 
                             e que possa ajudar de alguma maneira a mudar a vida de muita gente, 
                             como mudou a nossa. DEIXEM DE LADO O PRECONCEITO COM A PLANTA, POIS ELA
                              PODE SALVAR A VIDA DE ALGUÉM PRÓXIMO A VOCÊ!
                              <br>
                              <br>
                              Gabriela Capitani - Mãe da Maria Clara 
                    </p>
                </div>
            </div>
        </div>

        <div class="divisoria"></div>


    </div>
</section>