<section class="about-section about-style-three pt-120"> 
    <div class="container">     
        <div class="section-title both-border text-center pb-80">     
            <span class="title-tag"><h2>Cadastre para receber atendimento</h2></span>     
                     
        </div>
    </div>
  </section>