<<<<<<< HEAD
p{
    font-size: 20px !important;
    margin-bottom: 40px !important;
    text-align: justify;
}
=======

>>>>>>> bd6e0fa05ff91b0b3aa306fc1dc88ee95b081fed
.about-section .about-tile-gallery-two {

    margin: 20px;
    min-height: 275px;

}
.section-title h2 {
    font-size: 35px;
    margin-bottom: 60px;
}
p {
    font-size: 22px !important;
    margin-bottom: 40px !important;
    text-align: justify;
}
.img-event{
    border-style: solid;
    border-width: 0px;
    border-color: #89D32A;
    box-shadow: 0 0px 8px 0px #89D32A;
    color: #353535;
    text-align: center;
}