<section class="about-section about-style-three pt-120">
    <div class="container">
        <div class="section-title both-border text-center pb-80">
            <span class="title-tag">Eventos</span>
            <h2>Realização de Eventos</h2>
        </div>

        <button (click)="teste()"> Testar </button>
        <p>O projeto Olhar Verde também se preocupa com a Educação. Trabalhamos com parcerias de forma a
            poder possibilitar acesso e levar conhecimento para todos os lugares. Nossa linha de tempo 
            carrega um histórico de eventos e workshops realizados com grandes nomes do mundo canábico. 
       </p>
        <div class="row align-items-center justify-content-center">

            <div class="col-lg-6 col-md-10">
                <div class="about-tile-gallery-two">
                    <img class="img-event" src="assets/img/testimonials/eventos.png" alt="Image" >
                </div>
            </div>

            <div class="col-lg-6 col-md-10">
                <p>
                    Evento realizado  com a mentora Clarissa Krieck ( Vida Cannabica ) 

                </p>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">

            <div class="col-lg-6 col-md-10">
                <div class="about-tile-gallery-two">
                    <img class="img-event" src="assets/img/equipe/nossa-equipe2.png" alt="Image" >
                </div>
            </div>

            <div class="col-lg-6 col-md-10">
                <p>Evento realizado  com a mentora Clarissa Krieck ( Vida Cannabica ) 
                </p>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">

            <div class="col-lg-6 col-md-10">
                <div class="about-tile-gallery-two">
                    <img class="img-event" src="assets/img/equipe/nossa-equipe3.png" alt="Image" >
                </div>
            </div>

            <div class="col-lg-6 col-md-10">
                <p>Evento realizado em colaboração com o projeto PAPEC Verde e Comunicannabicos. 
                </p>
            </div>
        </div>
    </div>
</section>