footer.footer-style-two .copy-right-area {
    background-color: #500550;
    /*position: fixed;*/
    bottom: 0px;
    width: 100%;
    font-size: 12px !important;
}

footer.footer-style-two .copy-right-area .social-icon a {
    background-color: #501350;
    font-size: 25px;
}

p {
    font-size: 12px !important;
}