<!--====== GO TO TOP PART START ======-->
    <div class="go-top-area">
      <div class="go-top-wrap">
        <div class="go-top-btn-wrap">
          <div class="go-top go-top-btn">
            <i class="fal fa-angle-double-up"></i>
            <i class="fal fa-angle-double-up"></i>
          </div>
        </div>
      </div>
    </div>
    <!--====== GO TO TOP PART ENDS ======-->
    <!--====== FOOTER PART START ======-->
    <footer class="footer-style-two">
      
      <div class="copy-right-area">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5">
              <p class="copyrigt-text text-center text-md-left">Copyright By @<a href="javascript:void(0)"> olharverde</a> - 2020
              </p>
              <p class="copyrigt-text text-center text-md-left">Olhar Verde - Consultoria e Suporte Terapêutico</p>
              <p class="copyrigt-text text-center text-md-left">CNPJ: 40.338.181/0001-85  </p>
            </div>
            <div class="col-md-7">
              <div class="social-icon text-center text-md-right">
                <a href="https://www.instagram.com/olhar.verde/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="http://wa.me/555592083577"target="_blank"><i class="fab fa-whatsapp"></i></a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--====== FOOTER PART END ======-->
    