h2 {
    text-align: center;
    padding-bottom: 15px;
    font-size: 35px;
}

.member-info h3{
    padding-bottom: 10px;
}

.pt-120 {
    padding-top: 120px;
}

.pb-80 {
    padding-bottom: 30px;
}

.col-sm-6 {
    border-style: solid;
    border-width: 0px;
    border-color: #89D32A;
    box-shadow: 0 0px 8px 0px #89D32A;
    color: #353535;
    text-align: center;
}

img {
    margin-top: 10px;
    max-width: 100%;
}

@media screen and (max-width:480px) {
    .margin-bottom-mobile {
        margin-bottom: 15px;
    }
}