h2 {
    text-align: center;
    font-size: 35px;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 37px;
    color: #563156;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}

.pb-80 {
    margin-top: 20px;
    margin-bottom: 10px;
}



h5 {
    color: #1e7945;
}

.quem-somos p {
    text-align: justify;
}

.single-service-two p {
    width: 105%;
    text-align: left;
    font-size: 17px;
    margin-bottom: 10px;
}

@media (min-width: 640px), (max-width: 1281px) {
    .quem-somos p {
        font-family: "Roboto", sans-serif;
        margin-left: auto;
        margin-right: auto;
        width: 65em;
    }
    h4 {
        font-size: 22px;
        margin-top: 55px;
        color: #222f5a;
        font-family: "Oswald", sans-serif;
        font-weight: 700;
        margin-left: 12%;
        margin-right: 12%;
        margin-bottom: 0;
    }
}

@media screen and (max-width:480px) {
    #container {
        width: 400px;
    }
    .quem-somos p {
        font-family: "Roboto", sans-serif;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    h4 {
        width: 90%;
        margin: auto;
    }
    h4 {
        font-size: 22px;
        margin-top: 55px;
        color: #222f5a;
        font-family: "Oswald", sans-serif;
        font-weight: 700;    
        margin-bottom: 0;
    }
}

@media (min-width: 640px), (max-width: 1281px) {
    .image-can {
        padding-top: 90px;
        width: 100%;
        margin-bottom: 70px;
    }
    .footer{
        text-align: center;
        display: flex;
        margin: 45px;
        margin-left: 160px;
    }
    .text-footer{
        width: 65%;
        margin: 20px;
    }
    
}

@media screen and (max-width:480px) {
    .image-can {
        padding-top: 35px;
        width: 100%;
        height: 135px;
    }
    .footer{
        display: contents;
    }
    .text-footer{
        width: 90%;
        margin: 20px;
    }
}

p {
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width:480px) {
    p {
        margin-bottom: 40px;
    }
}

.bottom-icon {
    padding-bottom: 55px;
    text-align: center;
}

.metodos {
    display: inline;
}

.bottom-icon-1 {
    margin-top: 22px;
    text-align: center;
}

.p1 {
    text-align: left;
}

.p2 {
    margin-top: 55px;
}

.about-text {
    font-size: 18px;
    text-align: justify;
}