<section class="about-section about-style-three pt-120">
  <div class="container">
    <div class="section-title both-border text-center pb-80">
      <span class="title-tag">
        <h2>Quem somos e o que fazemos?</h2>
      </span>
    </div>
  </div>
</section>

<section>
  <div class="quem-somos">
    <p>Visando as necessidades individuais de cada paciente, nossos profissionais buscam suprir a falta de informação e
       proporcionar acesso a soluções para empecilhos burocráticos, assistência médica e jurídica, além de orientações 
       terapêuticas adicionais. Nosso foco prioritário é a prevenção, resgatando a qualidade de vida de forma segura e 
       humana, com base na unicidade de cada indivíduo e buscar solucionar os problemas de forma não agressiva e invasiva - 
       trazendo assim mais eficácia para as terapias aplicadas àquelas pessoas já comprometidas por algum transtorno na saúde.
       <br><br>
       Os tratamentos oferecidos buscam também suprir a falta de atendimento e atenção de parte da 
       medicina ortodoxa, promovendo educação e informação visando trazer tranquilidade e segurança
        aos pacientes e familiares. Ressaltamos que o tratamento com cannabis não promove cura, mas 
        sim redução dos sintomas limitantes observados em muitas patologias e distintos transtornos de
         saúde, promovendo uma melhora substancial da qualidade de vida destas pessoas. 
       <b>Para isso é preciso haver da parte do paciente um comprometimento com a mudança de hábitos e 
         a administração correta da medicação derivada da cannabis.</b>
          <br>
          <br>
         Nosso atendimento é feito de modo a conectar informações entre todos os profissionais 
          envolvidos para criar uma estratégia conjunta de tratamento, que contribua para uma 
          melhora importante da qualidade de vida destas pessoas.  
        </p>
  </div>
</section>

<section>
  <img class="image-can" src="assets/img/can3.jpg">
</section>

<section class="about-section about-style-three pt-120 pb-120">
  <div class="footer">
    
    <div class="text-footer">
      
      <div class="section-title right-border mb-40">
        <h2>Fundamentos Motivacionais</h2>
      </div>
          
          <p style="text-align:justify;">
            O trabalho com as medicações a base de cannabis é bastante complexo. Ele precisa ser 
            observado de perto, devido às várias respostas que diferentes pessoas podem apresentar
             e também à grande variedade de teores e concentrações de óleo oferecidas no mercado. 
             Em muitos casos não acontecerá uma adaptação imediata à medicação, então será preciso
              um acompanhamento mais próximo, observando as respostas do paciente e trabalhando 
              com base nelas até alcançar o ideal para aquela pessoa. Isso só é possível por meio
               de um atendimento humanizado, que leva em conta as perspectivas individuais de cada
                ser. 
          </p>
    </div>
      <div>
        <div>
          <img src="assets/img/bud.png" class="image-one">
        </div>
      </div>
    
  </div>
</section>


