<section class="about-section about-style-three pt-120">
  <div class="container">
    <div class="section-title both-border text-center pb-80">
      <span class="title-tag">
        <h2>NOSSA MISSÃO</h2>
      </span>

    </div>
  </div>
</section>

<section class="product-section product-shop-section pt-120 pb-120">
  <div class="container">
    <div class="product-section-heading-wrapper">
      <div class="product-section-heading section-title both-border">
        <div class="desc-oquefazemos">
          <ul>
            <li>&#9679; Orientar e amparar pacientes e familiares por meio de informações respaldadas pela Ciência 
              e também de atividades, projetos e eventos promovendo a cultura canábica medicinal, buscando facilitar 
              o acesso legal ao óleo medicinal para quem já vem obtendo um resultado positivo na terapêutica, garantindo 
              o direito de acesso a cannabis medicinal com qualidade e segurança.</li>
            <li>&#9679;Desenvolver e executar projetos terapêuticos e sociais que possam levar qualidade de vida aos
               portadores de condições especiais e sua família.</li>
            <li>&#9679; Acolher, cuidar e buscar a recuperação da família que adoece com seus entes, de forma que possam 
              retomar suas vidas, muitas vezes totalmente abaladas pela falta de amparo e de apoio familiar ou público, 
              e dessa forma promover o bem-estar de seus contratantes, devolvendo-lhes a autoestima e promovendo o resgate 
              da dignidade.</li>
              <li>&#9679; Estimular a produção científica da medicina canábica visando sua divulgação na sociedade, com 
                intuito de atenuar preconceitos e aumentar sua indicação por médicos que ainda ignoram seu fantástico 
                potencial terapêutico.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <img class="image-can" src="assets/img/can3.jpg">
</section>

<section class="about-section about-style-three pt-120">
  <div class="container">
    <div class="section-title both-border text-center pb-80">
      <span class="title-tag">
        <h2>OBJETIVOS DA ASSISTÊNCIA CENTRADA NO PACIENTE</h2>
      </span>

    </div>
  </div>
</section>

<section class="product-section product-shop-section pt-120 pb-120">
  <div class="container">
    <div class="product-section-heading-wrapper">
      <div class="product-section-heading section-title both-border">
        <h4>TRATAMENTO MAIS EFICAZ</h4>
        <p>&#9679; O tratamento busca também suprir a falta de
          atendimento e atenção de parte da medicina
          convencional, promovendo educação e
          informação para trazer tranquilidade e
          segurança aos pacientes.</p>

        <h4>RECUPERAÇÃO</h4>
        <p>&#9679; O tratamento com cannabis não promove cura,
          e sim redção dos sintomas das patologias e
          melhora na qualidade de vida. Para isso é
          preciso haver da parte do paciente um
          comprometimento com a mudança de hábitos e
          a administração correta da medicação
          derivada da cannabis.</p>
      </div>
    </div>
  </div>
</section>