.desc-oquefazemos {
    font-size: 18px;
    margin-top: 30px;
    ;
    text-align: justify;
}

.desc-oquefazemos li {
    padding-bottom: 20px;
}

.pb-80 {
    padding-bottom: 0px;
}

h4 {
    padding-top: 25px;
    padding-bottom: 10px;
    color: #1e7945 !important;
}

p {
    font-size: 18px;
    text-align: justify;
}

@media screen and (max-width:1400px) {
    .image-can {
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .image-can {
        width: 100%;
        height: 105px;
    }
}

.section-title h2 {
    font-size: 35px;
}

.pt-120 {
    padding-top: 75px;
}

.pb-80 {
    padding-bottom: 0px;
    margin-top: 60px;
}