
header.header-two .header-top-area {
    padding: 15px 0;
    background-color: #563156;
}
header.header-two .mainmenu-area {
    border-bottom: 2px solid #f1f1f1;
    background-color: #563156;
}
header .mainmenu-area .main-menu .menu-items ul li a {
    color: white;
}
header .mainmenu-area .main-menu .menu-items ul li .submenu {
    background-color: #563156;
}

.menu-items {
    padding-left: 240px;
}