<!--====== HEADER START ======-->
<header class="header-two sticky-header">

  <div class="mainmenu-area">
    <div class="container-fluid custom-container-two">
      <div class="d-flex align-items-center justify-content-between">
        <nav class="main-menu">
          <div class="logo">
            <a routerLink="/"><img src="assets/img/logo-nova.png" alt="Onitit"></a>
          </div>
          <div class="menu-items">
            <ul>
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/">Home</a>
              </li>
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink='/quem-somos'>Sobre Nós</a>
                <ul class="submenu">
                  <li><a routerLink='/quem-somos'>Quem somos e o que fazemos?</a></li>
                  <li><a routerLink='/nossa-missao'>Nossa missão/Objetivos</a></li>
                  <li><a routerLink='/nossa-equipe'>Equipe profissional e colaboradores </a></li>
                </ul>
              </li>
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink='/eventos'>Eventos</a>
              </li>
              <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink='/depoimentos'>Relatos</a>
              </li>

              <li> 
                <a (click)="cadastro()"> Solicitar atendimento</a>
              </li>

            </ul>
          </div>
        </nav>

      </div>
    </div>
  </div>
  <!-- Mobile Menu -->
  <div class="row">
    <div class="col-12">
      <div class="mobile-menu"></div>
    </div>
  </div>
</header>
<!--====== HEADER END ======-->