@media screen and (min-width: 1000px) {
    .section-title.both-border span.title-tag {
        padding-left: 50px;
        padding-right: 50px;
    }
    .section-title span.title-tag {
        text-transform: uppercase;
        font-weight: 700;
        color: #89d32a;
        font-family: "Oswald", sans-serif;
        line-height: 1;
        font-size: 16px;
        display: inline-block;
        margin-top: 80px;
        margin-bottom: 85px;
        position: relative;
    }
    .section-title h2 {
        font-size: 35px;
    }
    .atendimento h3 {
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        padding-bottom: 30px;
    }
    .patologias ul {
        column-count: 4;
        list-style: disc;
        font-size: 18px;
        margin-left: 7%;
        margin-bottom: 10%;
    }
    .about-section .about-tile-gallery-two {
        margin-left: -200px;
    }
    .pl-30 {
        padding-left: 30px;
        padding-bottom: 130px
    }
    .container {
        max-width: 1400px !important;
        margin-bottom: -39px;
    }
}


.pb-80 {
    padding-top: 60px;
    margin-bottom: 0px;
}

.pt-120 {
    padding-top: 0px;
}



h4 {
    font-size: 22px;
    margin-top: 55px;
    margin-bottom: 105px;
}

.patologias {
    margin-left: auto;
    margin-right: auto;
    width: 55em;
}

.patologias li {
    padding-bottom: 5px;
}

.about-text {
    font-size: 18px;
    text-align: justify;
}

.medicinal {
    margin-left: auto;
    margin-right: auto;
    width: 24em;
    max-width: 100%;
    margin-bottom: 30px;
}

@media screen and (max-width:480px) {
    .medicinal {
        margin-left: 15px;
        margin-right: 15px;
    }
}